@model IEnumerable<LabaOne.Virus>

@{
    ViewData["Title"] = "Додати вірус";
}

<h1>Додати вірус</h1>

<p>
    <a asp-action="Create">Додати вірус</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VirusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VirusDateDiscovered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VirusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VirusDateDiscovered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагівати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
